# Ignorar archivo específico
/db/db.php

# Ignorar carpeta TEMP en el nivel raíz
/TEMP/

# Ignorar cualquier carpeta TEMP en cualquier nivel del proyecto
**/TEMP/

#Ignorario la carpeta REPOSITORIO
/REPOSITORIO/
