/* Para usar en los navs de los menus en nomina y cargos */
.nav-pills .nav-link {
    color: #4b5563;
    background-color: #ffffff;
    border: 1px solid #e5e7eb !important;
    transition: all 0.2s ease;
    text-align: left;
}

.nav-pills .nav-link:hover {
    background-color: #f3f4f6;
    color: #2563eb;
    border-color: #2563eb !important;
}

.nav-pills .nav-link.active {
    background-color: #2563eb !important;
    color: #ffffff !important;
    border-color: #2563eb !important;
    font-weight: 600;
}

.bg-light {
    background-color: #f9fafb !important;
}