.mb-col>[class*="col-"] {
    margin-bottom: 0.8rem;
    /* Similar a mb-3 */
}

label.error {
    color: red;
    /* Cambia "red" por el color que desees */

}

/*En prueba*/
.btn-compact {
    width: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    /* Asegura que la altura de línea sea pequeña */
    display: inline-flex;
    /* Para ajustar el tamaño al contenido */
    align-items: center;
    /* Alinea el contenido verticalmente */
}

/*Para ajustar la paginacion de la datatables */

.pagination .page-link {
    padding: 0.25rem 0.5rem;
    /* Ajusta el padding para hacer los botones más pequeños */
    font-size: 0.875rem;
    /* Tamaño de fuente más pequeño */
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    /* Asegúrate de que el padding sea pequeño */
    font-size: 0.75rem;
    /* Tamaño de fuente más pequeño */
}

/*Para que los iconos o botones que no tienen estilo se haga un hover*/
.icon-hover:hover i,
.icon-hover:hover span {
    opacity: 0.65;
}

/* Estilo de invalidación para los elementos select2 */
.select2-selection.is-invalid,
.was-validated .select2-selection:invalid {
    border-color: #f41127;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.99em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Estilo de validación cuando es inválido, con un color específico */
.select2-selection.is-invalid,
.was-validated .select2-selection:invalid {
    border-color: #f41127;
    /* Color de borde para el estado inválido */
}

/* Estilo de validación para los elementos select2 cuando son válidos */
.select2-selection.is-valid,
.was-validated .select2-selection:valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.99em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Estilo de validación cuando el select2 es válido */
.select2-selection.is-valid,
.was-validated .select2-selection:valid {
    border-color: #17a00e;
    /* Color de borde verde más oscuro */
}